* {
    padding: 0;
    margin: 0;
  & ul {
    font-size: 20px;
    padding: 0;
    white-space: nowrap;
    position: relative;
    left: 70rem;
    bottom: 7rem;
    }
  }
  
  html {
    font-size: 100%;
  }
  
.page-flow {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
main * + * {
    margin-top: 1.5em;
}
  
.tooltip {
& * {
    margin-top: 0;
}
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}