body {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
    background-color: #f7f7f7;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    & > .page-flow {
        display: flex;
        gap: 1em;
        align-items: right;
        & > *:not(:first-child) {
        flex-grow: 1;
        }
    }
    & h1 {
        color: #135772;
    }
}
@media screen {
    .dashboard .panel {
      font-size: unset;
    }
  }

.button {
  text-align: right;
    & li {
      display: flex;
      list-style-type: None;
        & a:active {
          color: black;
        }
        & a:visited {
          color: inherit;
          text-decoration: none;
        }
        & a:link {
          color: inherit;
          text-decoration: none;
        }
        & a:hover {
          text-decoration: underline;
          font-weight: bold;
          color: darkslategray;
          }
      display: inline-block;
      font-size: 1.2rem;
      padding: 0.5em;
      max-width: 100%;
      top: 0;
    }
}

.bold{
  font-weight: bold;
}

h3 {
  color: darkslategray;
}