---
layout: templates/base.njk
---
<header>
  <div class="page-flow">
    <div>
      <p>{{ metas.site }}</p>
      <h1>{{ title }}</h1>
    </div>
  </div>
    <ul class='button'>
      {# {% for item in pages %}
        {% set check = False %}
        {% if item == 'me' %}
          <li><a style="font-weight:bold" href="/">{{item}}</a></li>
          {% set check = True %}
        {% endif %}
        {% if title == item and check!=True %}
        <li><a style="font-weight:bold" href=" {{ item }} ">{{item}}</a></li>
        {% else %}
            {% if title != item %}
              <li><a href= " {{item}} " >{{ item }}</a></li>
            {% endif %}
        {% endif %}
      {% endfor %} #}
    {# {% for item in pages %}
      {% if item == title %}
        {% set type = "font-weight:bold" %}
      {% else %}
        {% set type = "none" %}
      <li><a style={{type}} href=" {{item}} ">{{item}}</a></li>
      {% endif %}
    {% endfor %} #}
    <li><a href='/'>about</a></li>
    <li><a href="/work/">work</a></li>
    <li><a href='/music/'>music</a></li>
    <li><a href='/ultimate/'>ultimate</a></li>
    </ul>
</header>
<main role="main" class="page-flow">
  {{ content | safe }}
</main>