---
title: work
---
<h3>Now</h3>
<p>
I have worked at Open Innovations - a radically open, not-for-profit, independent organsiation - since March 2023.
My official role is as a data scientist, but I spend a good amount of time building & designing websites to visualise data.
Since joining I have worked on projects with the Joseph Rowntree FOundation, the Youth Futures Foundation and the West 
and North Yorkshire Chamber of Commerce. 
</p>
<h3>Previously</h3>
<p>
After graduating from university, I worked part-time as a physics and maths tutor, teaching 7 GCSE and A-Level students, alongside a second job
as a customer assistant at Marks & Spencer. I did this for around 6 months whilst applying for full-time work.  
</p>