---
title: work
---
<h3><u>Data Scientist, Open Innovations</u></h3>
<p class='subheading'>march 2023 - present </p>
<p>
I have worked at <a href="https://open-innovations.org/">Open Innovations</a> - a radically open, not-for-profit, 
independent organsiation - since March 2023. My official role is as a data scientist, 
but I spend a good amount of time building & designing websites to visualise data too.
Since joining I have worked on projects with the <a href="https://www.jrf.org.uk/">Joseph Rowntree Foundation</a>, 
the <a href="https://youthfuturesfoundation.org/">Youth Futures Foundation</a> and the <a href="https://www.wnychamber.co.uk/">
West and North Yorkshire Chamber of Commerce
</a>. 
</p>
<h3><u>Physics and Maths Tutor</u></h3>
<p class='subheading'>september 2022 - june 2023</p>
<p>
After graduating from university I worked part-time as a physics and maths tutor, teaching 7 GCSE and A-Level students. 
I have tutored over 200 hours.
</p>