---
title: me
---
<p>
I am a data scientist and web designer at <a href="https://open-innovations.org/">Open Innovations</a> working on a variety of <a href="/work/">data visualisation projects</a>.   
Day to day I build data pipelines, design websites, and write blog posts. So far the core themes of my work have been socio-economic policy, geography
and helping disadvantaged members in society, with the common goal of using data to improve people's lives.
</p>
