---
title: me
---
<p>
I am a data scientist and web designer at Open Innovations working on a variety of data visualisation projects.   
Day to day I build data pipelines, design websites, and write blog posts. Geography, socio-economic policy and 
helping disadvantaged members in society have been the core themes of my work so far.
</p>
<p>
Hoping this works
</p>