---
title: me
---
<p>
I am a data scientist and web designer at Open Innovations working on a variety of data visualisation projects.   
Day to day I build data pipelines, design websites, and write blog posts. The majority of my work so far stands at the intersection of
geography, socio-economic policy and helping disadvantaged members in society.
</p>
<p>
    Test
    </p>